/* ウィンドウ幅が７６７pxまでの場合 */
@media screen and (max-width: 767px) {

    .header {
        width: 250px;
    }

    .right {
        width: 100px;
    }
    
    .footer {
        width: 250px;
    }    
}

/* ウィンドウ幅が479pxまでの場合 */
@media screen and (max-width: 479px) {

    .header {
        width: 150px;
    }
    
    .right { 
        float: none;
        /* 要素の浮遊化の解除 */
        width: 150px;
    }

    .left { 
        float: none;
        /* 要素の浮遊化の解除 */
        width: 150px;
    }
    
    .footer {
        width: 150px;
    }
}
